/Source/*/obj
/Source/*/bin
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.resharper
*.suo
*.cache
*~
*.swp
NDependOut
[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$